@media screen and (max-width:576px) {
    .top_navbar{
        display: none;
    }
    .swiper-button-next{
        left: 100px !important;
    }
    .swiper-button-prev{
        left: 100px !important;
    }
    .number_pagination{
        padding-left: 15px !important;
    }
    .myPartners .partner_items img{
        margin: 0px !important;
    }
    .about_shape{
        display: none;
    }
    .row{
        gap: 20px !important;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .about_video_item{
        width: 100%;
        height: 300px !important;
    }
    .about_shape{
        display: none;
    }
    .row{
        row-gap: 20px !important;
    }
}