@media screen and (max-width: 576px) {
  .top_navbar {
    display: none;
  }
  .swiper-button-next {
    left: 100px !important;
  }
  .swiper-button-prev {
    left: 100px !important;
  }
  .number_pagination {
    padding-left: 15px !important;
  }
  .myPartners .partner_items img {
    margin: 0px !important;
  }
  .about_shape {
    display: none;
  }
  .row {
    gap: 20px !important;
  }
  .service_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
  }
  .service_container .customers {
    flex-wrap: wrap !important;
  }
  .newsletter_container {
    padding: 0px 30px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  .letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    border: 1px solid white;
    padding: 10px;
    backdrop-filter: blur(15px);
  }
  .letter_detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0 !important;
  }
  .card {
    width: 390px !important;
  }
  .solution_items{
   flex-direction: column;
   gap: 20px;
  }
  .solution_item{
    width: 100% !important;
  }
  .myTestimoniual .swiper-button-next {
    display: none;
  }
  .myTestimoniual .swiper-button-prev {
    display: none;
  }
  .myTestimoniual .test_card{
    padding: 15px !important;
    text-align: center;
  }
  .myTestimoniual .swiper-pagination{
    display: unset !important;
  }
  .test_container{
    height: auto !important;
    padding: 50px 0px !important;
  }
  footer{
    text-align: center;
  }
  .footer_input{
    justify-content: center;
  }
  .sm_nav_link{
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about_video_item {
    width: 100%;
    height: 300px !important;
  }
  .about_shape {
    display: none;
  }
  .row {
    row-gap: 20px !important;
  }
  .newsletter_container {
    padding: 30px 0px 0px 0px !important;
  }
  .letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .solution_items{
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px !important;
  }
  .myTestimoniual .swiper-button-prev{
    margin-left: 370px !important;
  }
  .myTestimoniual .test_card{
    padding: 15px !important;
  }
  .test_container{
    height: auto;
    padding: 50px 0px !important;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width:1400px) {
  .myTestimoniual .swiper-button-prev{
    margin-left: 970px !important;
  }
  .hero_slider_1 {
    height: 100vh !important;
    display: flex;
    align-items: center !important;
    padding: 250px 0px !important;
  }
  .hero_slider_2 {
    height: 100vh !important;
    display: flex;
    align-items: center !important;
    padding: 250px 0px !important;
  }
  .hero_slider_3 {
    height: 100vh !important;
    display: flex;
    align-items: center !important;
    padding: 250px 0px !important;
  }
  .number_pagination{
    padding-left: 305px !important;
  }
  .slider_button{
    padding-left: 100px !important;
  }
}
