@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --p-color: #43baff;
  --s-color: #7141b1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  background: #fff;
}
/* Root Related Style */
.p_btn {
  padding: 20px 35px;
  background-color: var(--p-color);
  text-decoration: none;
  color: white;
  transition: 0.4s all;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 14px;
}
.p_btn:hover {
  background-color: var(--s-color);
}
.s_btn {
  padding: 20px 35px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  transition: 0.4s all;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid white;
}
.s_btn:hover {
  background-color: var(--p-color);
  border: 1px solid var(--p-color);
}
.border-start {
  border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.border-end {
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.text_second {
  color: var(--s-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bolder;
}
p {
  font-family: "Nunito Sans", sans-serif !important;
}
/* Root Related Style */

/* Header STyle Here */
/* Top Nav */
.top_navbar {
  background-color: #141d38;
}
.top_navbar a {
  color: #b5b5b5;
  transition: 0.3s all;
}
.top_navbar a:hover {
  color: var(--p-color);
}
/* Top Nav */

/* Main Nav */
nav .dropdown .dropdown-menu .dropdown-item {
  transition: 0.4s all;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
nav .dropdown .dropdown-menu .dropdown-item:hover {
  margin-left: 5px;
  color: var(--s-color) !important;
}
nav .dropdown:hover .dropdown-menu {
  display: unset !important;
  overflow-x: hidden;
}
nav .dropdown .dropdown-menu {
  transition: 1s all !important;
  padding: 20px 30px !important;
  border: none !important;
  border-radius: none !important;
  box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.208);
}
nav .nav-link {
  position: relative;
  margin: 0px 10px;
  padding: 30px 0px;
  transition: 0.3s all;
}
nav .nav-link:hover {
  color: var(--p-color) !important;
}
nav .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  background: var(--p-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s all;
}
nav .nav-link:hover::before {
  width: 100%;
}
.navbar-nav a {
  color: black !important;
}
.nav_search_item .dropdown-menu {
  padding: 10px !important;
  background: white;
  margin-left: -100px !important;
  white-space: nowrap;
  margin-top: 30px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.208);
}
.search_item .dropdown-menu {
  left: -130px !important;
  box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.208);
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px !important;
  z-index: 0;
}
.modal-body input {
  border: none;
  outline: none;
  padding: 10px 10px;
  background: #f6f6f6;
}
.modal-body input::placeholder {
  transition: 0.4s all;
}
.modal-body input:focus::placeholder {
  font-size: 12px;
}
.modal-body a {
  padding: 10px 20px;
  background-color: var(--p-color);
  color: white !important;
  transition: 0.4s all;
}
.modal-body a:hover {
  background-color: var(--s-color);
}
.nav_search_item {
  margin-left: 200px;
}

.sticky {
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 10 !important;
  margin-top: 0px !important;
  transition: 0.5s all !important;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.208);
}
/* Main Nav */
/* Header Style End */

/* Main Start */
/* Hero Section Style Here */
.hero_container {
  width: 100%;
}
.hero_container h1 {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero_slider_1 {
  background-image: url("Images/slide\ 1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 150px 0px !important;
}
.hero_slider_2 {
  background-image: url("Images/slide\ 2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 150px 0px !important;
}
.hero_slider_3 {
  background-image: url("Images/slide\ 3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 150px 0px !important;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-next {
  position: relative !important;
  top: -50px;
  left: 300px;
  z-index: 20;
  cursor: pointer;
  font-weight: 100 !important;
  font-size: 16px !important;
}
.swiper-button-prev {
  position: relative !important;
  top: -50px;
  left: 300px;
  z-index: 20;
  cursor: pointer;
  font-weight: 100 !important;
  font-size: 16px !important;
}
.swiper-button-prev::after {
  display: none;
}
.number_pagination {
  padding-bottom: 100px !important;
  text-align: start;
  padding-left: 120px;
  font-size: 16px;
  bottom: -40px;
}
/* Hero Section Style Here */

/* Partner Section Style Here */
.partner_container {
  background-color: #f8f8f8;
  width: 100%;
  height: auto;
  padding: 10px 0px !important;
  margin-top: -20px;
}
.myPartners {
  overflow-x: hidden;
  display: flex;
}
.partner_items {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  animation: 50s slide infinite linear;
  transition: 0.4s all;
}
.partner_items img {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  transition: 0.4s all;
  margin: 0px 50px !important;
}
.myPartners:hover .partner_items {
  animation-play-state: paused;
}
.partner_items a:hover img {
  filter: grayscale(0);
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Partner Section Style End */

/* About Section STyle Here */
.divider {
  width: 100%;
  height: 3px;
  background: #f8f8f8;
  margin: 10px 0px;
  position: relative;
}
.divider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--s-color);
  transition: 0.3s all linear;
}
.about_item:hover .divider::after {
  width: 100%;
  left: 0;
}
.about_video_item {
  width: 100%;
  height: 100%;
  background-image: url("Images/video_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.about_video_item a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none;
  background-color: var(--p-color);
  color: white;
  position: relative;
  transition: 0.4s all;
  text-align: center;
}
.about_video_item a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--p-color);
  animation: circle 2s infinite ease-in-out;
  border-radius: 50%;
}
.about_video_item a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--p-color);
  animation: circle-after 2s infinite ease-in-out;
  border-radius: 50%;
}
.about_video_item a:hover {
  color: var(--p-color);
  background-color: white;
}
.about_video_item a:hover::before {
  border: 1px solid white;
}
.about_video_item a:hover::after {
  border: 1px solid white;
}
.learn_more {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
  transition: 0.4s all;
  font-weight: bold;
}
.learn_more .learn {
  margin-left: 10px;
  transition: 0.4s all;
}
.learn_more:hover .learn {
  margin-left: 5px;
}
.about_shape {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -100px;
  margin-bottom: -50px;
  z-index: -1;
  opacity: 0.8;
}

@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes circle-after {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* About Section STyle End */

/* Choose Section Style Here */
.choose_container {
  width: 100%;
  height: auto;
  padding-top: 50px !important;
  padding-bottom: 200px !important;
  background: #221f3c;
  color: white;
  margin-top: 100px;
}
.choose_item {
  border: 1px solid #46416b;
  background: #262051;
  padding: 40px 30px 75px 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: 0.3s all linear;
}
.choose_item:hover {
  background: white;
  color: black;
}
.big_number {
  position: absolute;
  font-size: 100px;
  color: #332d5f;
  top: -40px;
  left: -5px;
  font-weight: bold;
  z-index: -1;
  transition: 0.3s all linear;
  user-select: none;
}
.choose_item:hover .big_number {
  color: #f4f6f6;
}
.choose_icon_box {
  position: absolute;
  bottom: -88px;
  right: -88px;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  background: #332d5f;
  transition: 0.3s all linear;
}
.choose_item:hover .choose_icon_box {
  background: var(--p-color);
  color: white;
}
.choose_icon_box span {
  position: absolute;
  top: 42px;
  left: 40px;
  font-size: 35px;
  line-height: 1;
}
.choose_item .learn_more {
  font-size: 14px !important;
}
/* Choose Section Style End */

/* Service Section Style Here */
.service_container {
  padding-bottom: 200px !important;
}
.service_container .customers {
  flex-wrap: nowrap;
}
.customer_1 {
  background-image: url("Images/cus\ 1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 40px;
  color: white;
}
.customer_2 {
  background-image: url("Images/cus\ 2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 40px;
  color: white;
}
.m-top {
  margin-top: -130px;
}
.service_item {
  display: flex;
  align-items: start;
  gap: 20px;
}
.service_item span {
  color: var(--s-color);
  transition: 0.3s all linear;
}
.service_item:hover span {
  color: var(--p-color);
}
/* Service Section Style End */

/* NewsLetter Section Style here */
.newsletter_section {
  background-color: #f8f8f8;
  padding: 50px 0px !important;
}
.newsletter_container {
  background-image: url("Images/newsletter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  color: white;
  padding: 100px 50px 0px 50px;
  margin-top: -200px;
}
/* NewsLetter Section Style End */

/* Expertise Section Style Here */
.expertise_container {
  padding: 0px 10px !important;
  margin: 30px 0px !important;
}
.card-body {
  background-color: #262051;
  color: white;
  width: 80%;
  margin: auto auto;
  flex: none !important;
  padding: 30px 20px !important;
  margin-top: -60px;
  position: relative;
  overflow: hidden;
}
.card {
  border: none !important;
}
.card-img-top {
  overflow: hidden;
}
.card-img-top img {
  width: 100% !important;
  transition: 0.3s all linear;
}
.card:hover .card-img-top img {
  scale: calc(1.1);
  filter: contrast(150%);
  opacity: 0.8;
}
.card_icon {
  position: absolute;
  right: -94px;
  top: -100px;
  width: 188px;
  height: 188px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  transition: 0.3s all linear;
}
.card:hover .card_icon {
  background: var(--p-color);
}
.card:hover .card_icon i {
  color: white;
}
.card_icon i {
  position: absolute;
  bottom: 45px;
  left: 50px;
  line-height: 1;
  color: #43baff;
  transition: 0.3s all linear;
}
.swiper-pagination-bullet-active {
  background: var(--s-color) !important;
}
/* Expertise Section Style End */

/* Solution Section Style Here */
.solution_container {
  background-image: url("Images/solution\ bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px !important;
  width: 100%;
  height: auto;
  margin: 30px 0px !important;
  text-align: center;
  color: white;
}
.solution_items {
  display: flex;
  justify-content: space-between;
  margin-top: 30px !important;
  gap: 20px;
}
.solution_item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 200px;
  height: 180px;
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: var(--p-color);
  transition: 0.3s all linear;
}
.solution_item:hover {
  background-color: var(--p-color);
  color: white;
}
/* Solution Section Style End */

/* Testmoniual Section Style Here */
.test_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Images/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.test_card{
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.27);
  position: relative;
  background: white !important;
}
.test_card::after{
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  bottom: -30px !important;
  left: 25px;
  background: rgba(245, 245, 245, 0.519);
  opacity: .7;
  z-index: -1;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.27);
}
.myTestimoniual{
  padding: 30px 30px !important;
}
.myTestimoniual .swiper-button-next {
  position: absolute !important;
  top: 220px;
  left: 0;
  z-index: 20;
  color: black;
  cursor: pointer;
  font-weight: 100 !important;
  font-size: 16px !important;
  text-decoration: none !important;
}
.myTestimoniual .swiper-button-prev {
  position: absolute !important;
  top: 220px;
  right: 0;
  margin-left: 790px;
  z-index: 20;
  color: black;
  cursor: pointer;
  font-weight: 100 !important;
  font-size: 16px !important;
  text-decoration: none !important;
}
.myTestimoniual .swiper-pagination{
  display: none;
}
/* Testmoniual Section Style Here */
/* Main End */
